body {
  line-height: 1.42857143;
  font-family: 'Roboto-Regular', sans-serif;
  color: $firstText;
  background: rgb(254, 192, 193);
  background: linear-gradient(145deg, rgba(254, 192, 193, 1) 0%, rgba(154, 112, 201, 1) 100%);
}

