@mixin extra-small-screen {
  @media (max-width: 662px) {
    @content
  }
}

@mixin small-screen {
  @media (max-width: 992px) {
    @content
  }
}

@mixin normal-screen {
  @media (min-width: 992px) {
    @content
  }
}

@mixin placeholder($color, $size, $align) {
  &::placeholder {
    color: $color !important;
    font-family: 'Roboto-Regular', sans-serif !important;
    font-size: $size !important;
    text-align: $align;
    opacity: 1;
  }
  &::-moz-placeholder {
    color: $color !important;
    opacity: 1;
  }
}
